.modal-screen{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    background: hsla(0,0%,94.9%,.9)
}

.modal-box {
    position: absolute;
    margin: 0 auto;
    top: 250px;
    z-index: 3000;
    display:flex;
    flex-direction: column;
    // align-content: center;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    height: 500px;
    background-color: white;
    left: 40%;
    padding: 25px;
}

.create-form{
    padding-left: 12px;
}
.demo-button {
    color: white;
    border-color: #3578e5;
    background-color: #3578e5;
    line-height: 18px;
    padding: 10px;
    height: 40px;
    border-radius: 3px;
    border-style: solid;
    width: 80%;
    margin-top: 20px;
    cursor: pointer;
}

.google-button {
    color: black;
    border-color: lightgray;
    background-color: white;
    line-height: 18px;
    padding: 10px;
    height: 40px;
    border-radius: 3px;
    border-style: solid;
    width: 80%;
    cursor: pointer;
}
.apple-button {
    color: white;
    border-color: black;
    background-color: black;
    line-height: 18px;
    padding: 10px;
    height: 40px;
    border-radius: 3px;
    border-style: solid;
    width: 80%;
    cursor: pointer;
}

.legalese{
    color: lightgray;
    font-size: 12px;

}

.login-input{
    width: 370px;
    height: 40px;
    border: 1px lightgray solid;
    border-radius: 5px;
    font-size: 18px;
}

.signinbutton{
    background-color: #f50;
    color: white;
    padding: 10px;
    font-size: 16px;
    width: 370px;
    height: 40px;
    border-radius: 3px;
    border-color: lightgray;
    border-style: solid;

}
.error{
    color: #cf0000;
    font-family: Arial,sans-serif;
    font-size: 12px;
    margin: 3px;
    margin-bottom: 20px;
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}