

header{
    background-color: #333;
    height: 46px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font: 14px,Arial,sans-serif;
    color: white;
}

.login-signup{
    position: relative;
    margin: 0;
    border-radius: 3px;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    font: 14px,Arial,sans-serif;
    font-weight: 100;
    text-align: center;
    vertical-align: baseline;
    box-sizing: border-box;
    float: right;
    right: 460px;
    top: 10px;
}
.loginbutton{
    border-color: #666;
    background-color: transparent;
    color: white;
    margin-right: 22px;
    border-radius: 3px;
    border-style: solid;
    padding: 2px 11px 2px 11px;
    height: 26px;
    font: 14px,Arial,sans-serif;
}

.signupbutton{
    background-color: #f50;
    color: white;
    border-color: #f50;
    border-radius: 3px;
    border-style: solid;
    padding: 2px 11px 2px 11px;
    height: 26px;
    font: 14px,Arial,sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

.logo{
    position: absolute;
    width: 184px;
    height: 46px;
    background-image: image_url('textlogo.png');
    z-index: 10000;
    content: "";
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    left: 350px;
    
}

.navbar-right-group{
    position: relative;
    display: inline-block;
    justify-content: space-between;
    border-radius: 3px;
    color: #333;
    font-size: 14px;
    font: 14px,Arial,sans-serif;
    text-align: center;
    box-sizing: border-box;
    float: right;
    right: 460px;
    top: 5px;
}

.user-button{
    background-color: transparent;
    color: lightgray;
    margin-right: 22px;
    border-radius: 3px;
    border-style: none;
    padding: 12px 28px 12px 10px;
    height: 26px;
}

.options-button{
    content: "";
    background: url(https://a-v2.sndcdn.com/assets/images/more-0e9e752c.svg);
    background-repeat: no-repeat;
    width: 40px;
    border-style: none;
    padding-top: 8px;
    outline: none;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: transparent;
    padding-top: 10px;
    z-index: 100;
}

.dropdown-inactive{
    display:none;
}
.dropdown-active{
    display: block;
    position: absolute;
    top: 28px;
    right: 10px;
    background: white;
    border: solid 1px lightgray;
    z-index: 1000000;
    width: 120px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-bottom: 12px;
}

.divdropdown{
    position: relative;
    display: inline-block;
}
.dropdown-button{
    background-color: white;
    color: black;
    margin-right: 0px;
    border-style: none;
    margin-top: 5px;
    padding: 12px 28px 12px 10px;
    height: 26px;
    width: 90%;
    padding-bottom: 25px;
    z-index: 100000;
    
}
.dropdown-button:hover{
    background-color: #f2f2f2;
}

button{
    outline: none;
    cursor: pointer;
    border-style: none;
}

.prof-dropdown-active{
    display: block;
    position: absolute;
    top: 41px;
    right: 30px;
    background: white;
    border: solid 1px lightgray;
    z-index: 100;
    width: 120px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-bottom: 12px;
}

.bell{
    content: "";
    background: image_url('bellicon.png');
    background-repeat: no-repeat;
    outline: none;
    width: 30px;
    height: 15px;
    background-size: 50%;
    background-position: center;
    margin-right: 50px;
}

.searchbar{
    color: #666;
    background: rgb(241, 241, 241);
    border-style: none;
    padding: 5px 7px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 3px;
    width: 400px;
    margin-right: 28px;
    outline: none;

}
.searchbar:focus{
    background: white;;
}

.noheader{
    height: 0;
}