

header{
    background-color: #333;
    height: 46px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font: 14px,Arial,sans-serif;
    color: white;
}

.login-signup{
    position: relative;
    margin: 0;
    border-radius: 3px;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    font: 14px,Arial,sans-serif;
    font-weight: 100;
    text-align: center;
    vertical-align: baseline;
    box-sizing: border-box;
    float: right;
    right: 460px;
    top: 10px;
}
.loginbutton{
    border-color: #666;
    background-color: transparent;
    color: white;
    margin-right: 22px;
    border-radius: 3px;
    border-style: solid;
    padding: 2px 11px 2px 11px;
    height: 26px;
    font: 14px,Arial,sans-serif;
}

.signupbutton{
    background-color: #f50;
    color: white;
    border-color: #f50;
    border-radius: 3px;
    border-style: solid;
    padding: 2px 11px 2px 11px;
    height: 26px;
    font: 14px,Arial,sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

.logo{
    position: absolute;
    width: 184px;
    height: 46px;
    background-image: image_url('textlogo.png');
    z-index: 10000;
    content: "";
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    left: 350px;
    
}

.navbar-right-group{
    position: relative;
    // display: block;
    justify-content: space-between;
    border-radius: 3px;
    color: #333;
    font-size: 14px;
    font: 14px,Arial,sans-serif;
    text-align: center;
    box-sizing: border-box;
    float: right;
    right: 460px;
    top: 10px;
}

.user-button{
    background-color: transparent;
    color: lightgray;
    margin-right: 22px;
    border-radius: 3px;
    border-style: none;
    padding: 12px 28px 12px 10px;
    height: 26px;
}

.dropdown-button{
    content: "";
    background: url(https://a-v2.sndcdn.com/assets/images/more-0e9e752c.svg);
    background-repeat: no-repeat;
    width: 40px;
    border-style: none;
    padding-top: 8px;
    outline: none;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: transparent;
    padding-top: 10px;
    z-index: 100;
}

.dropdown-inactive{
    display:none;
}
.dropdown-active{
    display: block;
    position: absolute;
    top: 23px;
    right: 10px;
    background: white;
    // padding: 20px;
    // padding-right: 60px;
    border: solid 1px lightgray;
    z-index: 100;
    width: 120px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-bottom: 12px;
}

.dropdown{
    position: relative;
    display: inline-block;
}
.logout-button{
    background-color: white;
    color: black;
    margin-right: 0px;
    border-style: none;
    margin-top: 5px;
    padding: 12px 28px 12px 10px;
    height: 26px;
    width: 90%;
    padding-bottom: 25px;
    
}
.logout-button:hover{
    background-color: #f2f2f2;
}