.player{
    border-top: 1px solid #b1adad;
    width: 100%;
    background-color: #f8f4f4;
    height: 48px;
    position: fixed;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.mute{
    margin-right: 50px;
}

.duration {
    color: black;
    font-size: 12px;
    float: right;
    margin-top: 4px;

}

.currentTime {
    color: rgb(226, 62, 12);
    font-size: 12px;
    margin-right: 5px;
    margin-top: 4px;

}

.progslider{
    background-color: rgb(209, 189, 189);
    height: 1px;
    width: 515px;
    cursor: pointer;
    margin-top: 8px;
    margin-right: 5px;
}

.volslider{
    background-color: rgb(209, 189, 189);
    height: 1px;
    width: 97px;
    cursor: pointer;
}


.controls{
    display: flex;
    justify-content: center;
    align-content: baseline;
    width: 850px;
}

.volumeControl{
  transform: rotate(-90deg);
}

.playerVol{
    transform: rotate(90deg);
    font-size: 15px;
    padding-left: 45px;
}

.playerpause, .playerplay, .playerVol, .fa-step-forward, .fa-random, .fa-redo, .fa-step-backward{
    color: rgb(82, 76, 76);
}

.player-left-buttons{
    margin-top: 1px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    width: 160px;

}

.volume-bar {
  position: absolute;
  top: 16px;
  left: 55px;
  background-color: #e7e0e0;
  border: 1px solid lightgray;
  height: 28px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  animation-name: fade-in;
  animation-duration: .75s;
}
@keyframes fade-in {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
    
  }
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  position: absolute;
  left: -10px;
  border-right:10px solid #e7e0e0;

}

.playerButton{
    background-color: transparent;
}