.player{
    border-top: 1px solid #b1adad;
    width: 100%;
    background-color: #f8f4f4;
    height: 48px;
    position: fixed;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.playpause{
    margin-right: 5px;
}

.mute{
    margin-right: 20px;
}

.duration {
    color: black;
    font-size: 12px;
    float: right;

}

.currentTime {
    color: black;
    font-size: 12px;

}

.controls{
    display: flex;
    justify-content: center;
    align-content: baseline;
}
