.splashtop{
    height: 450px;
    width: 75%;
}
.splashimg{
    background-image: image_url('splashimage1.jpg');
    height: 450px;
    width: 75%;
    position: absolute;
    content: "";
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    left: 240px;
    margin: 0 auto;
}

.maintitle{
    font-size: 36px;
    font-weight: 100;
    color: white;
    margin: 0 auto;
    z-index: 10000;
    font: Arial,sans-serif;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.subtitle{
    font-size: 24px;
    font-weight: 100;
    color: white;
    margin: 0 auto;
    z-index: 10000;
    font: Arial,sans-serif;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}