.upload-page{
    padding-top: 80px;
    width: 1240px;
    margin: 0 auto;
    background: white;
    min-width: 1240px;
    padding-bottom: 65px;
    margin: 0 auto;
}

.uploadButton{
    background-color: #f50;
    color: white;
    padding: 10px;
    font-size: 18px;
    width: 393px;
    height: 40px;
    border-radius: 3px;

}

.uploadTitle{
    font-size: 22px;
    font-weight: lighter;
}

.upload-box{
    width: 805px;
    height: 390px;
    text-align: center;
    margin: auto;
    display: block;
    margin: 195px auto;
    border: solid 1px #f2f2f2;
}

.upload-content{
    margin: 100px 0;
}

.hidden{
    position: absolute;
    z-index: 1;
    opacity: 0;
    width: 390px;
    height: 40px;
    cursor: pointer;
}

.detail-input{
    height: 23px;
    width: 468px;
    padding: 1px 2px;
    font-size: 14px;
    border: 1px solid lightgray;
    border-radius: 2px;

}
.details-content{
    display: flex;
    margin-top: 80px;
}

.details-pic {
    height: 260px;
    width: 260px;
    background: linear-gradient(to top right, rgb(233, 94, 51), #da4e0d);
    position: relative;
}